.App {
  text-align: center;
}

body{
  background-image:  url("http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=c9c1c9&density=5&opacity=69");
}

.title-name{
    text-align: center;
    font-size: 30px;
}

.random-state-name{
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
}


h1 {
text-align: center;
}

input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


div{
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
}


.rsm-geography{

        fill: #333333;
        stroke: #607D8B;
        stroke-width: 0.75;
        outline: none;
}

.rsm-geography:hover {
        fill: #607D8B;
        stroke: #607D8B;
        stroke-width: 0.75;
        outline: none;
}

rsm-geography:pressed: {
        fill: #FF5722;
        stroke: #607D8B;
        stroke-width: 0.75;
        outline: none;
}



path.correct{
        fill: #008000;
        stroke: #008000;
        stroke-width: 0.75;
        outline: none;
}
circle.correct{
        fill: #008000;
        stroke: #008000;
        stroke-width: 0.75;
        outline: none;
}
.correct:hover{
        fill: #008000;
        stroke: #008000;
        stroke-width: 0.75;
        outline: none;

}

.menu{

		padding: 0 px;
		font-family: 'KoHo', sans-serif;
        font-size: 18px;
        width: 20%;
        background-color: #ffffffff;
        text-align: center;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        border-bottom: 3px solid #FF5722;
        position: fixed;
        left: 0;

}

.menu:hover{
	background-color: #607D8B;

}
.MuiInput-underline-12::before{
	position: fixed;
	display: none;
}
.MuiInput-underline-12::after{

	display: none;
}
ul{

}

.dropdownList{

}

